* {
  /* Свойства для сброса начальных стилей элементов */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #303030;
}

header {
  /* Стили для хедера */
  background: #2965f1;
  padding: 23px 0;
}

header span {
  /* Стили для текста в хедере IT-INCUBATOR */
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.main-section {
  /* Стили для первой секции */
  background-color: #fafaff;
  min-height: 100vh;
  padding: 60px 0;
}

.main-title {
  /* Стили для заголовка в первой секции */
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  margin-bottom: 20px;
}

.main-text {
  /* Стили для текста в первой секции */
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.main-image {
  /* Стили для изображения в первой секции */
  max-width: 715px;
}

.about-section {
  /* Стили для второй секции */
  background-color: #fafaff;
  padding: 100px 0;
}

select {
  /* Стили для выпадающего списка */
  width: 150px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  padding: 9px 12px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  background-image: url(./assets/images/ep-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 12px top 10px;
  appearance: none;
}

.section-title {
  /* Стили для заголовков во второй секции */
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 25px;
}

.frameworks-list {
  /* Стили для маркированного списка во второй секции */
  list-style-image: url(./assets/images/map-arrow-up-bold.svg);
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.books-list {
  /* Стили для нумерованного списка во второй секции */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;
}

.label {
  /* Стили для подписей чекбоксов */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.text-field {
  /* Стили для односточного поля ввода текста */
  width: 330px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  padding: 9px 12px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.btn {
  /* Стили для кнопки */
  border-radius: 5px;
  width: 125px;
  background-color: #2965f1;
  border: none;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  padding: 10px 0;
}

.line {
  /* Стили для линии */
  margin: 60px 0;
}

table {
  /* Стили для таблицы */
  border-collapse: collapse;
}

th,
td {
  /* Стили для ячеек таблицы */
  padding: 12px 15px;
  border: 1px solid #95a1bb;
}

footer {
  /* Стили для футера */
  background-color: rgba(163, 167, 255, 0.3);
  padding: 26px 0;
}

.footer-link {
  /* Стили для футера */
  color: #2965f1;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}